







<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/JavaScript">
        function showMessage(){
            var message = document.getElementById("tag").value;
            display_message.innerHTML= message;
        }
    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: ">
  <div class="container-fluid" style="align-content: center;">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Admin Panel</a>
    </div>
   
  </div>
</nav>
<br><br><br><br><br><br>
<center>
<div class="container">
  <h2>Enter Your Tag</h2>
  <form action="about/"  style="width: 50%" id="form1">
    
    <div class="form-group">
     
      <input type="text" class="form-control" id="tag"  placeholder="Enter tag" name="text" required>
    </div>
   
   
    <button type="submit" onclick="showMessage()" class="btn btn-default">Search</button>
  </form>
<br>
 <b>Suggestions:</b><br><br>
 Food  |  Business  |  Culture  | Health  | Technology  

</center>
</div>
<br><br>

<br><br>
<footer class="container-fluid text-center">
  <p>Online Web  App</p>  
  <p><b>Created by Pramod Yadav</b></p>
</footer>

</body>
</html>
